@{
    ViewBag.Title = "Про нас";
}

    <div class="bg-img">
            <h2>Сomputer Information Technologies</h2>
            <h3>Узнайте больше о нас</h3>
     </div>

    <div class="container body-content cont">
        <h2 class="head-pos">Факультет компьютерных и информационных технологий</h2>
        @*<h3>@ViewBag.Message</h3>*@
        <p class="text">
            Сегодня учебный процесс осуществляют более 150 преподавателей факультета, в том числе 46 профессоров и докторов наук, более 80 кандидатов наук.

            Особенности факультета в широком использовании в учебном процессе современных средств компьютерной техники и вычислительных сетей, программных продуктов и информационных технологий, мощной материальной базы, применения прогрессивных методов обучения, участие студентов в проведении научных исследований и олимпиадах, тесная связь с ведущими IT- компаниями позволяют обеспечить подготовку высококвалифицированных специалистов.
        </p>
        <p class="text">
            Факультет готовит квалифицированных специалистов по разработке и эксплуатации программных продуктов i технических средств компьютерных i компьютеризированных систем, внедрение современных информационных технологий общего и целевого назначения для различных отраслей науки и промышленности. Они способны создавать и эксплуатировать компьютерные и компьютеризированные системы обработки информации и управления организационных, технических и организационно-технических объектов. Выпускники работают руководителями и разработчиками программно-аппаратных комплексов, менеджерами проектов, администраторами информационных, компьютерных и компьютеризированных систем i сетей в государственных и частных научных, производственных, банковских учреждениях и фирмах в Украине и за рубежом.
        </p>
         <br /><br />
    </div>